<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="~{navbar::navbar}"></div>
<div class="content stats">
    <table>
        <caption>Components</caption>
        <thead>
         <th>Name</th>
         <th>IP</th>
         <th>Available</th>
        </thead>
        <tbody>
        <tr th:each="item:${stats}">
            <td th:text="${item.key}"></td>
            <td th:text="${item.value.getIp()}"></td>
            <td th:text="${item.value.getIsAvailable().toString()}"></td>
        </tr>
        </tbody>
    </table>
    <table>
        <caption>Top Searches</caption>
        <thead>
        <th>Numero Pesquisas</th>
        <th>Pesquisa</th>
        </thead>
        <tbody>
        <tr th:each="searched:${searches}">
            <td th:text="${searched.getNumSearches().toString()}"></td>
            <td th:text="${searched.getTerm()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>