<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="~{navbar::navbar}"></div>
<div th:if="${result!=null}">
    <h1 th:text="${result}"/>
</div>
<div class="content">
    <div id="search-input">
        <form action="#" th:action="@{/search}" th:object="${inptext}" method="post">
            <input type="text" th:field="*{inp}" placeholder="Search term" />
            <button type="submit" value="Submit">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            </button>
        </form>
    </div>
    <div>
        <br>
        <a href="/index-url">
            <button>IndexURL</button>
        </a>

        <a href="/reference-url">
            <button>URL References</button>
        </a>

    </div>
    </div>
</body>
</html>