<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
  <div th:fragment="navbar" class="navbar">
    <a href="/stats-of-system">
      <button>Stats of System</button>
    </a>
      <a href="/">
          <button>Search Term</button>
      </a>
      <a href="/index-url">
         <button>Index URL</button>
      </a>
      <a href="/reference-url">
          <button>Reference URL</button>
      </a>
      <a th:if="${#httpSession.getAttribute('token')==null}" href="/login">
          <button>Login</button>
      </a>
      <a th:if="${#httpSession.getAttribute('token')!=null}" href="/logout" >
          <button>Logout</button>
      </a>
    <button>
      <a href="/stats-of-system">Stats of System</a>
    </button>
      <button>
          <a href="/index-url">Index URL</a>
      </button>
      <button>
          <a href="/reference-url">Reference URL</a>
      </button>

      <button>
          <a href="/index-hackernews-username-page">Index stories from user</a>
      </button>
    <a href="/"><h1>Googol</h1></a>
  </div>
</body>
</html>